{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
  <h1>Investment Options</h1>

  <h2>Available Cash: 9999999</h2>

  <table>
    <tr>
      <td>
        <form action="/transaction" method="POST">
          <p>Type: Savings</p>
          <p>Bank: {{savings["name"]}}</p>
          <p>Rate: {{savings["rate"]}}</p>
          <input type="number" required="true" placeholder="Amount to place in savings"/>
          <input type="submit" value="Submit">
        </form>
      </td>
    </tr>
  </table>
{% endblock %}
