{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1024412823571-9489vhkoanksm77ntqsste037572j8o2.apps.googleusercontent.com">
    <div id="my-signin2"></div>
    
    <script>

    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSignIn
      });
    }

    function onSignIn(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/login');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {
        window.location.href = "/";
      };
      xhr.send('idtoken=' + id_token);
    }
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

{% endblock %}
